@font-face {
    font-family: sbold;
    src: url(./../assets/font/LeagueSpartan-Bold.ttf);
}
@font-face {
    font-family: slite;
    src: url(./../assets/font/LeagueSpartan-Light.ttf);
}
@font-face {
    font-family: sreg;
    src: url(./../assets/font/LeagueSpartan-Regular.ttf);
}
@font-face {
    font-family: smed;
    src: url(./../assets/font/LeagueSpartan-Medium.ttf);
}
@font-face {
    font-family: sthin;
    src: url(./../assets/font/LeagueSpartan-Thin.ttf);
}